
<!-- ======================================
  ******* Main Page Wrapper Area **********
  ======================================= -->
<div class="page-wrapper">
    <div class="horizontal-menu">
        <nav class="navbar top-navbar col-lg-12 col-12 p-0">
            <div class="container-fluid">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo" href=""><img
                            src="assets/covid/img/core-img/logo.png" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href=""><img
                            src="assets/covid/img/core-img/small-logo.png" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown">

                        </li>
                    </ul>

                </div>

            </div>
        </nav>
</div>
</div>